.box{
    width: 960px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header{
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-around;
    background: grey;
    text-align: center;
    padding: 20px;
    align-items: center;
}
.logo{
    width: 130px;
}
li{
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    
}
.banner{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    background: #bdbdbd;
    margin-top: 30px;
    padding: 20px;

}
.block1{
    width: 420px;
    height: 300px;
}
.block2{
    width: 540px;
    height: 300px;
}
h1{
    color: green;
    text-align: center;
}
ul{
    color: darkgreen;
    font-size: 20pt;
}
a{
    text-decoration: none;
}
.city{
    width: 540px;
    height: 300px;
}

.content{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    background: #bdbdbd;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}
.block3{
    width: 220px;
    height: 200px;
    background:#d4dec8;
    margin-left: 20px;
    text-align: center;
}
.nature{
    width: 200px;
}
.factory{
    width: 200px;
}
.global{
    width: 200px;
}

footer{
  width: 100%;
  height: 100px;
  background: grey;
  display: flex;
  text-align: center;   
  margin-top:20px;
  padding: 20px;   
}
.io{
    width: 60px;
    height: 60px;
}
h2{
    background: green;
    color: white ; 
}
.informatiom{
    width: 100%;
    height: 220px;
    background: #bdbdbd;
    
    display: flex;
    justify-content: space-around;
    padding: 20px;

    

    
}
.ll{
    width: 150px;
    height: 150px;
    border-radius: 100%; 
}
.lop{
     width: 150px;
    height: 170px;
    font-family: SEGOE SCRIPT;
    font-size: 20px;
    text-align: center;
}
.top{
     width: 150px;
    height: 150px;
    font-family: SEGOE SCRIPT;
    font-size: 20px;
    text-align: center;

}
.b1{
    width: 1000px;
    height: 350px;
    background: gray;
    margin-top: 20px;

}   
.h1{
    text-align: center;
    font-size: 35px;
}   
.tt{
    text-align: center;
    font-size: 25px;
}
.ttt{
    font-size: 18px;

}
.olll{
    width: 1000px;
    height: 400px;
    margin-top: -10px;
}
.olkk{
    width: 1000px;

}
.b3{
    width: 1000px;
    height: 400px;
    margin-top: 10px;
    background: green
}


li{
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}
.banner{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    background: #bdbdbd;
    margin-top: 30px;
}
.banner2{
    width: 104%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background: #bdbdbd;
    margin-top: 30px;
}
.block1{
    width: 420px;
    height: 300px;
}
.block2{
    width: 540px;
    height: 300px;
}
h1{
    color: green;
}
ul{
    color: darkgreen;
    font-size: 20pt;
}
a{
    text-decoration: none;
}
.city{
    width: 540px;
    height: 300px;
}

.content{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    background: #bdbdbd;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block3{
    width: 220px;
    height: 200px;
    background:#d4dec8;
    margin-left: 20px;
}
.nature{
    width: 200px;
}
.factory{
    width: 200px;
}
.global{
    width: 200px;
}

footer{
  width: 100%;
  height: 50px;
  background: grey;
  display: flex;
  text-align: center;
  margin-top: 20px;
  font-family:


 
}
.io{
    width: 70px;
    height: 70px;
}
h2{
    background: green;
    color: white ; 
}
.informatiom{
    width: 100%;
    height: 220px;
    background: #bdbdbd;

    display: flex;
    justify-content: space-around;



}
.ll{
    width: 150px;
    height: 150px;
    
}
.lop{
     width: 150px;
    height: 170px;
    font-size: 20px;
    text-align: center;
}
.top{
     width: 150px;
    height: 150px;
    font-size: 20px;
    text-align: center;

}
.panet{
    width: 200px;
    height: 200px;
}


.nf{
    width: 170px;
    height: 200px;
    margin-bottom: 30px;
    margin-left: 370px;
    animation: rotate 5s infinite;


}
.nfs{
    width: 100px;
    height: 100px;
    margin-left: -250px;
     
    
 }   
.nfs2{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 150px;
}
.nfs3{
    width: 170px;
    height: 200px;
    margin-bottom: -155px;
    margin-left: -100px;
    animation: rotate 5s infinite;

}
.nfs5{
    width: 100px;
    height: 100px;
    margin-left: -300px;
    margin-bottom: -110px;
}
.nfs6{
    width: 170px;
    height: 150px;
    margin-bottom: -155px;
    margin-left: -270px;
    animation: rotate 5s infinite;

}
@keyframes rotate{
    from{    top: 0px;
    left: 0px;}
    to{
     top: 20px;
    left: 0px;
    transform: rotate(340deg);
    }



<p>HTML:/ШКМ.in.ua</p>



footer:before {
  content: "";
  background-image: url( file:///F:/%D0%90%D0%BD%D0%B4%D1%80%D1%96%D0%B9/%D0%A8%D0%9A%D0%9C/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82/img/planet.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
